.sub-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top:1rem;
  padding-bottom:1rem;
  border-bottom: 1px solid #767676;
}

.left, .right {
  display: flex;
  align-items: center;
}

.btn {
  background-color: #444;
  color: white;
  border: none;
  margin-left: 0.5rem;
  cursor: pointer;
  border-radius: 4px;
}

.btn:hover {
  background-color: #555;
}

.page-title {
  font-size: 1.25rem;
  font-weight: bold;
  color:black;
}