.main-container {
    display: flex;
    height: 100%;
    width:100%;
    background-color: #ffffff;
}
.main-container::after {
    content: "";
    display: table;
    clear: both;
}
.app-header {
    padding:0px;
}
.app-sidebar {
    float: left;
}
.content {
    float: left;
    padding-left:15px;
    padding-right:15px;
    width: 100%;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}