<app-contextual-navigation-bar>
  <span slot="title" class="page-title">User Details</span>
  <div slot="context">
    <button class="btn" routerLink="/user">Back</button>
  </div>
</app-contextual-navigation-bar>

<div class="user-details-container">
  <ng-container *ngIf="loading">
    <p>Loading user...</p>
  </ng-container>

  <ng-container *ngIf="error">
    <p class="error">{{ error }}</p>
  </ng-container>

  <div class="table-container" *ngIf="user && !loading">
    <cdk-table [dataSource]="userDetailsArray" class="custom-table">

      <!-- Key Column -->
      <ng-container cdkColumnDef="key">
        <cdk-header-cell *cdkHeaderCellDef> Field </cdk-header-cell>
        <cdk-cell *cdkCellDef="let element"> {{ element.key }} </cdk-cell>
      </ng-container>

      <!-- Value Column -->
      <ng-container cdkColumnDef="value">
        <cdk-header-cell *cdkHeaderCellDef> Value </cdk-header-cell>
        <cdk-cell *cdkCellDef="let element"> {{ element.value }} </cdk-cell>
      </ng-container>

      <!-- <cdk-header-row *cdkHeaderRowDef="displayedColumns"></cdk-header-row> -->
      <cdk-row *cdkRowDef="let row; columns: displayedColumns;"></cdk-row>

    </cdk-table>
  </div>
</div>